# {{ ansible_managed }}

# Linux bridge agent physical interface mappings
[ovs]
local_ip = {{ neutron_local_ip }}
enable_tunneling = True
{% if neutron_provider_networks.network_mappings is defined %}
bridge_mappings = {{ neutron_provider_networks.network_mappings }}
{% endif %}

[agent]
l2_population = {{ neutron_plugins[neutron_plugin_type].l2_population }}
tunnel_types = gre,vxlan


# Security groups
[securitygroup]
firewall_driver = {{ neutron_plugins[neutron_plugin_type].driver_firewall }}
enable_security_group = True
enable_ipset = True
