# {{ ansible_managed }}

# General
[DEFAULT]
debug = {{ debug }}

# Drivers
interface_driver = {{ neutron_plugins[neutron_plugin_type].driver_interface }}

agent_mode = {{ neutron_plugins[neutron_plugin_type].l3_agent_mode }}

# Conventional failover
allow_automatic_l3agent_failover = True

# HA failover
ha_confs_path = {{ neutron_system_home_folder }}/ha_confs
ha_vrrp_advert_int = 2
ha_vrrp_auth_password = {{ neutron_ha_vrrp_auth_password }}
ha_vrrp_auth_type = {{ neutron_ha_vrrp_auth_type }}

# Metadata
enable_metadata_proxy = True

{% if neutron_fwaas | bool %}

[fwaas]
enabled = true
driver = iptables
agent_version = v1

[AGENT]
extensions = fwaas

{% elif neutron_fwaas_v2 | bool %}

[fwaas]
enabled = true
driver = iptables_v2
agent_version = v2

[AGENT]
extensions = fwaas_v2

{% endif %}
