# {{ ansible_managed }}

[Unit]
Description=neutron openstack service
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ item.system_user | default(neutron_system_user_name) }}
Group={{ item.system_group | default(neutron_system_group_name) }}

{% if item.program_override is defined %}
ExecStart={{ item.program_override }} {{ item.config_options | default('') }}
{% else %}
ExecStart={{ neutron_bin }}/{{ item.program_binary | default(item.service_name) }} {{ item.config_options | default('') }}
{% endif %}

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=120
Restart=on-failure
RestartSec=2

# This creates a specific slice which all services will operate from
#  The accounting options give us the ability to see resource usage through
#  the `systemd-cgtop` command.
Slice=neutron.slice
CPUAccounting=true
BlockIOAccounting=true
MemoryAccounting=false
TasksAccounting=true

[Install]
WantedBy=multi-user.target
